services:
  reverse-proxy:
    image: traefik:v3.5@sha256:16acb89c6db341182970d6fdafece31303b0a380a8ed7aa51682e225229bf1d2
    command:
      - "--api.insecure=true"
      - "--providers.docker"
    ports:
      - "80:80" # The HTTP port
      - "8081:8080" # The Web UI (enabled by --api.insecure=true)
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock # So that Traefik can listen to the Docker events

  watt-app:
    build:
      context: .
      dockerfile: Dockerfile
    labels:
      - "traefik.http.routers.watt-app.rule=Host(`watt-app.traefik.me`)"
      - "traefik.http.services.watt-app.loadbalancer.server.port=3042"
    environment:
      NODE_ENV: production
    command: npm run start